{{- with .Params.socialIcons -}}
<div class="social-icons">
  {{- range . -}}
    {{- if .icon -}}
      {{- $icon := resources.Get .icon -}}
      <a class="social-icons__link" href="{{ .url }}" target="_blank" rel="me noopener">
        <span class="social-icons__icon">{{ $icon.Content | safeHTML }}</span>
      </a>
    {{- else -}}
      <a class="social-icons__link" href="{{ .url }}" target="_blank" rel="me noopener" title="{{ .name }}">
        <i class="fa-fw {{ if eq .name "x-twitter" }}fab fa-x-twitter{{ else }}fab fa-{{ .name }}{{ end }}"></i>
      </a>
    {{- end -}}
  {{- end -}}
</div>
{{- end -}}